@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: integralBold;
  src: url("./assets/fonts/IntegralCF-Bold.otf");
}

.integralBold {
  font-family: integralBold;
}
